body{
  background-image: url("/pictures/0002.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  background-attachment: fixed;
}