body{
  background-image: url("pictures/0003.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.mojigun{
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}
#title{
  font-size: 100px;
  margin-left: 70%;
  
}
#po{
  font-size: 30px;
  margin-left: 70%;
}


/*@media screen and (max-width:768px){
body{
  background-image: url("pictures/0003.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.mojigun{
  font-family: "fot-tsukuardgothic-std",serif;
  color: white;
  font-size: 80px;
  text-align: center;
  
}

}
*/